/* SHOPPING CART */

.cart-btn-group {
	display: flex;
	justify-content: flex-end;
	padding-top: 3px;
  padding-bottom: 3px;
}
.dropdown-menu {
	width: 500px;
    padding: 10px 10px;
}
.dropdown-cart-title {
    font-weight: 600;
    font-size: 17px;
    /* text-align: center; */
}

hr {
	margin-top: 0;
}

.tablecontainer { 
	overflow: hidden;
}
.tablecontainer>table>tr {
	display: block; 
}

.tablecontainer>table>tr>th,td:nth-child(2) { 
	width: 70%; 
}

.tablecontainer>table>tr>td:nth-child(3){
	width: 60%;
}
.cart-items>tbody { 
	display: block; 
	max-height: 300px; 
	overflow: auto;
}

.table-responsive {
	padding-top: 10px;
}

.table {
	margin-bottom: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, 
.table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

// .totals-table>table>tr>th, td:nth-child(2) {
// 	width: 30%;
// }

.cart-icon {
	padding-right: 8px;
    padding-right: 20px;
    font-size: 25px;
}
.cart-info {
    padding-right: 10px;
    font-size: 11px;
    font-weight: 600;
}
.cart-icon, .cart-info, .cart-caret {
	display: inline-block;
	vertical-align: middle;
}

.img-responsive-xs {
    margin: 0 auto;
    max-width: 50px;
}

.item-name {
    font-weight: 500;
    color: black;
}
.item-price {
	padding-right: 20px;
	font-weight: 700;
	letter-spacing: -1px;
	color: black;
}
.quantity-selected {
	padding-right: 20px;
}
.item-quantity {
	text-align: center;
	font-weight: 700;
	font-size: 17px;
	color: black;
}
.item-quantity-unit-type {
	text-align: center;
    font-weight: 400;
    font-size: 11px;
}
.item-delete-icon {
	font-weight: bold;
	font-size: 17px;
	> a {
		color: 	lighten(black, 50%);
	}
	> a:hover {
		text-decoration: none;
		color: $myPinkBg;
		cursor: pointer;
	}
}

.cart-total {
    font-weight: bold;
}

.gotcha {
	font-size: 8px;
}