/* HEADER / NAV */
// $bgDefault      : #00a651;
// $bgHighlight    : #27ae60;
// $colDefault     : #ecf0f1;
// $colHover	 	: #d1ffed;


/* --- custom navbar --- */
.navbar {
    margin-bottom: 0;
    border-radius: 0px;
}
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}
.navbar-form .input-group>.form-control {
    border-radius: 15px 0 0 15px;
}


/* components */

.search-btn {
    // height: 38px;
    background: $myPinkBg;
	border: darken($myPinkBg, 10%);
    // border: 1px solid $myPinkBg;
    color: #fff;
    // width: 51px;
    // cursor: pointer;
    -moz-border-radius: 0 16px 16px 0;
    -webkit-border-radius: 0 16px 16px 0;
    border-radius: 0 16px 16px 0;
    position: relative;
    float: right;
    -webkit-transition: background .21s ease;
    -moz-transition: background .21s ease;
    -o-transition: background .21s ease;
    transition: background .21s ease;

	&:hover {
		background-color: darken($myPinkBg, 5%);
		border-color: darken($myPinkBg, 5%);
		color: white;
	}
	&:visited, &:active {
		color: white;
	}
}
.icon-search {
	font-size: 15px;
}

button.search-btn:focus,button .search-btn:active {
   outline: none !important;
}

// .input-group-btn:hover {
// 	background-color: darken($myPinkBg, 10%);
// }

#header {
  // background-color: $bgDefault;
  border-bottom: 1px solid #e8e8e8;
}
.header-logo, .header-logo a, .header-logo a img {
  width: 100px;
}


.nav-sections {
  border-bottom: 0.05rem solid #ddd;

}  
.sub-nav {
  width: 100%;
  height: 46px;
}

.nav-rel {
	position: relative;
}

.nav-pills {
	> li:hover {
	    border-bottom: 2px solid $myGreen;
        color: black;
	}
	> li:active {
		background-color: none;
	}
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
    color:black;
    background-color: white;
}

.active {
    background-color : none;
	border-bottom: 2px solid $myGreen;
}

.nav-pill-categories,
.nav-pills>li>a {
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    &:hover {
    	text-decoration: none;
    	background-color: none;
    }
}

.btns-vert {
	padding-top: 6px;

}

.btn-register {
	&:hover {
		background-color: shade(#FFFFFF, 5%);
	}
}
.btn-pink {
	background-color: $myPinkBg;
    border-color: darken($myPinkBg, 10%);
    color: white;
	&:hover {
		color: white;
	}
}


.my-tooltip {
  position: relative;
}

.my-tooltip span {
    background: #FFF;
    color: #000;
    font-size: 0.7em;
    bottom: 100%;
    display: block;
    left: -100px;
    opacity: 0;
    padding: 5px 10px;
    margin-bottom: 5px;
    pointer-events: none;
    position: absolute;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #C5C5C5;
    -webkit-transform: translateY(25px);
     -moz-transform: translateY(25px);
      -ms-transform: translateY(25px);
       -o-transform: translateY(25px);
          transform: translateY(25px);
    -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
}

.my-tooltip:hover span {
  opacity: 0.9;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}
