<!-- Dropdown button -->
<div ng-controller="DropDownController">

<div class="btn-group" 
     uib-dropdown is-open="status.isopen" auto-close="outsideClick">
  <a class="btn btn-success" id="dropdown-cart-btn" 
     uib-dropdown-toggle ng-disabled="disabled">
            <div class="cart-icon">
                <span><i class="fa fa-shopping-cart" aria-hidden="true"></i>
</span>
            </div>
            <div class="cart-info" ng-controller="HeaderController">
                <div>{{ lookupCartTotalSum() | number:2 }} &euro;</div>
                <div>{{ lookupCartItemsCount() }} items</div>
            </div>
            <div class="cart-caret">
                <span class="caret"></span>
            </div>
  </a>

<div class="container dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="dropdown-cart-btn"> <!-- template-url="dropdown.html" -->

  <header>
    <h2 class="dropdown-cart-title">Your Shopping Cart</h2>
  </header>

    <div class="table-responsive tablecontainer">
      <table class="table table-hover cart-items">
        <tr ng-repeat="item in cart">
            <td class="item-image">
                  <img class="img-responsive-xs" 
                        ng-src="assets/images/products/{{item.item.shortname}}.png" 
                        alt="Photo of {{item.item.name}}" />
            </td>
            <td class="item-name">{{item.item.name}}</td>
            <td class="item-price">{{item.item.pricePerUnit}} &euro;</td>
            <td class="quantity-selected">
                <div class="item-quantity">{{item.quantity}}</div>
                <div class="item-quantity-unit-type">{{item.item.unitType | uppercase}}</div>
            </td>
            <td class="item-delete-icon">
                <a type="button" class=""
                    ng-click="removeAllByItemType(item.item)">
                    X
                </a>
            </td>
        </tr>
      </table>
    </div> <!-- tablecontainer -->
  
    <div class="table-responsive totals-table">
      <table class="table table-hover">
        <tr class="cart-total">
            <td align="right" class="item-caption">Total # products:</td>
            <td align="right" class="total-cart-count">{{ lookupCartItemsCount() }}</td>
        </tr>
        <tr class="cart-total">
            <td align="right" class="item-caption">Total Cost:</td>
            <td align="right" class="total-cart-price">{{ lookupCartTotalSum() | number:2}} &euro;</td>
        </tr>
      </table>
    </div> <!-- totals-table -->

  <hr />
  <footer>
      <button class="btn btn-sm btn-pink pull-right" type="button"
                ng-click="closeDropdown()">
        Continue to Checkout
        <span class="gotcha"><br>(if this app required that)</span>
    </button>
  </footer>
</div> <!-- dropdown-menu -->

</div> <!-- btn-group -->

</div> <!-- DropDownController 